@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;



body{
  background: #1d1d1d;
  font-family: 'Poppins', sans-serif;
  color: #9FB3C8
}
